@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --playX: #1b6db9;
    --playO: #aa1b6a;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #393E46;
}

.head {
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 50em) {
    .head {
        font-size: 20px;
        margin-bottom: 0;
    }
}

.modal {
    position: fixed;
    z-index: top;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #393E46;
}

.modal-content {
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    background: #FFD369;
    margin: 15vh auto;
    padding: 20px;
    border: solid 1px black;
    width: 600px;
    height: 600px;
}

@media (max-width: 50em) {
    .modal-content {
        width: 90vw;
        height: 90vh;
        margin: 25px auto;
    }
}


.player-container {
    display: flex;
    align-self: center;
    width: 99%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 50em) {
    .player-container {
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;
        height:80%;       
    }
}

.player-name-wrap {
    display: flex;
    justify-content: center;
}

#p1-color,
#p2-color {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#p1-color {
    background: var(--playX);
}

#p2-color {
    background: var(--playO);
}

.p1-container-inner,
.p2-container-inner {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content:flex-start;
    max-width: 95%;
    height:85%;
    font-size: 20px;
    padding: 25px 0;
}

.p1-container-inner {
    border-right: solid 1px black;
}

.p2-container-inner {
    border-left: solid 1px black;
}

@media (max-width: 50em) {
    .p1-container-inner,
    .p2-container-inner  {
        height: 85%;
        font-size: 16px;
        padding: 0;
    }

    .p1-container-inner {
        border-bottom: solid 1px black;
        border-right: none;
    }

    .p2-container-inner {
        border-top: solid 1px black;
        border-left: none;
    }
}


.p1-container-inner>h1,
.p2-container-inner>h1 {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0;
    margin: 0;
    height: 75px;
    font-size: 80px;   
}

@media (max-width: 50em) {
    .p1-container-inner>h1,
    .p2-container-inner>h1  {
        font-size: 50px;
    }
}

.p1-container-inner>h1 {
    color: var(--playX);
}

.p2-container-inner>h1 {
    color: var(--playO);
}

.p1-container-inner {
    padding-bottom: 45px;
}

@media (max-width: 50em) {
    .p1-container-inner  {
        padding-bottom: 0;
    }
}

.player-name-container {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}


.player-name-container> h2 {
    text-align: center;
}



@media (max-width: 50em) {
    .player-name-container  {
        font-size: 12px;
    }
}

.checkContainer {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 15px;
    font-size: 20px;
}

#aiCheck {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

#nameInputP1, #nameInputP1::placeholder {
    height: 2em;
    background: var(--playX);
    color: white;
}

#nameInputP2, #nameInputP2::placeholder {
    height: 2em;
    background: var(--playO);
    color: white;
}


.start {
    display: flex;
    width: 250px;
    height: 50px;
    background: tomato;
    justify-content: center;
    align-items: center;
    margin: auto; 
}

.start:hover,
.start:active {
    transition: all 0.5s;
    transform:scale(1.2);
  }

@media (max-width: 50em) {
    .start {
        width: 125px;
    }
}

.name-container {
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: beige;
}

.name-container> h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

@media (max-width: 50em) {
    .name-container> h1 {
        font-size: 22px;
    }
}

.board {
    width: auto;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 50px auto;
}

.cell {
    background: #FFD369;
    color: #393E46;
    width: 10rem;
    height: 10rem   ;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9em;
    font-family: 'Permanent Marker', cursive;
    transition: all 0.2s;
}

@media (max-width: 50em) {
    .cell {
        width: 7rem;
        height: 7rem;
        font-size: 6em;
    }
}

.Xclass {
    color: var(--playX)
}

.Oclass {
    color: var(--playO);
}

.overModal {
    position: fixed;
    z-index: top;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #393e4665;
}

.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overModal-content {
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    background: #FFD369;
    margin: auto;
    padding: 20px;
    border: solid 1px black;
    width: 50vw;
    height: 50vw;
}

@media (max-width: 50em) {
    .overModal-content {
        width: 90vw;
        height: 90vw;
    }
}

.winner {
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: center;
    margin: 20% auto;
    font-size: 40px;
}

@media (max-width: 50em) {
    .winner {
        font-size: 28px;
    }
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    background: tomato;
}

.reset:hover,
.reset:active {
    transition: all 0.5s;
    transform:scale(1.2);
  }

.hidden {
    display: none;
}